#hero{
    position: relative;
    top: $navbar-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    width: 100vw;
    padding: 3rem 0;
    background-image: linear-gradient($pink , $white);

    .hero-img{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 60%;
        }
    }
    .hero-center{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        width: 85%;
        text-align: center;
        gap: 1.5rem;

        &-footer{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            input{
                height: 2rem;
                padding: 0 1rem;
                font-size: 1.2rem;
            }
            button{
               @include small-btn;
            }
        }
    }
}

@media screen and (min-width : $desktop-screen) {
    #hero{
        flex-direction: row-reverse;
        padding: 3rem 5rem;
        .hero-img{
            img{
                width: 50%;
            }
        }
        .hero-center{
            width: 70%;
            text-align: left;
            align-items: flex-start;

            h4{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.5rem;
            }
            &-footer{
                width: 100%;
                flex-direction: row;
                align-items: center;

                input{
                    width: 50%;
                    padding: 0.5rem 1rem;
                    font-size: 1.4rem;
                }
            }
        }
    }
}