$navbar-height : 5rem;
$animation-time : 0.5s;
$margin-navbar : 2rem;

#navbar{
    position: fixed;
    width: 100vw;
    height: $navbar-height;
    display: flex;
    overflow: hidden;
    transition: 0.5s linear;
    z-index: 2;
    background-color: $white;

    .navbar-wrapper{
        height: $navbar-height;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            position: relative;
            display: flex;
            gap: 1rem;
            margin-left: $margin-navbar;
            transition: $animation-time linear;
        
            h4 {
                font-family: $signika;
            }
        
            span {
                background-color: $blue;
                color: $white;
                width: 2rem;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $signika;
                font-size: 1.5rem;
            }
        }

        .logo.inactive-logo{
            margin-left: -200px;
            opacity: 0;
        }

        .btn{
            width: 2rem;
            height: 2rem;
            margin-right: $margin-navbar;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            cursor: pointer;
            span{
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 0.3rem;
                    background-color: $black;
                    border-radius: 30px;
                    transition: 0.25s linear;
                    transform-origin: left center;

                    &::before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        background-color: $black;
                        height: 0.3rem;
                        top: 0.75rem;
                        border-radius: 30px;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        background-color: $black;
                        height: 0.3rem;
                        top: 1.5rem;
                        border-radius: 30px;
                        transition: 0.25s linear;
                        transform-origin: left center;
                    }
            }
        }

        

        .btn.active-btn{
            span{
                transform: rotate(45deg);

                &::after{
                    transform: rotate(-90deg) translateY(15px) translateX(7px);
                }
                &::before{
                    opacity: 0;
                }
            }
        }
        .back-btn{
            position: absolute;
            left: 50%;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 5rem;
            opacity: 0;
            transition: $animation-time ease-out;
            cursor: pointer;
            

            &::before{
                content: '';
                position: absolute;
                width: 1rem;
                height: 0.2rem;
                background-color: $black;
                left: 0%;
                transform-origin: left;
                transform: rotate(35deg);
                border-radius: 30px;
            }
            &::after{
                content: '';
                position: absolute;
                width: 1rem;
                height: 0.2rem;
                background-color: $black;
                left: 0%;
                transform-origin: left;
                transform: rotate(-35deg);
                border-radius: 30px;
            }
        }

        .back-btn.active-back-btn{
            opacity: 1;
            left: 5%;
        }
    }
    

    .links{
        position: absolute;
        width: 100%;
        top: $navbar-height;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: $animation-time linear;

        li{
            height: $navbar-height;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px dotted $black;
            width: 90%;
            cursor: pointer;

            span,a{
                text-decoration: none;
                color: $black;
                font-size: 1.5rem;
            }
            .arrow{
                position: relative;
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;

                &::before{
                    content: '';
                    position: absolute;
                    width: 1rem;
                    height: 0.2rem;
                    background-color: $black;
                    transform-origin: right;
                    transform: rotate(25deg);
                    border-radius: 30px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 1rem;
                    height: 0.2rem;
                    background-color: $black;
                    transform-origin: right;
                    transform: rotate(-25deg);
                    border-radius: 30px;
                }
            }
        }
        &:last-child{
            border-bottom: 1px dotted black;
        }
    }
    .links.inactive-links{
        transform: translateX(-100%);
    }
    
}

#navbar.active-navbar{
    height: 100vh;
}

@media screen and (min-width : $desktop-screen) {
    #navbar{
        transition: 0s;
        justify-content: space-around;
        border-bottom: 1px solid black;
        overflow: visible;
        z-index: 5;
        background-color: $white;


        .navbar-wrapper {
            width: auto;
            .btn {
                position: absolute;
                transition: 0s;
                opacity: 0;
            }

            .logo.inactive-logo{
                margin-left: 1rem;
                opacity: 1;
            }

            
            .back-btn.active-back-btn{
                opacity: 0;
            }
        }
        .links{
            position: relative;
            flex-direction: row;
            height: $navbar-height;
            width: auto;
            top: 0;
            justify-content: space-between;
            gap: 2rem;

            li{
                justify-content: center;

                span,a{
                    font-size: 1.2rem;
                }

                .arrow{
                    transform: rotate(90deg) scale(0.5);
                    bottom: 0;
                }
            }
        }
        .links.inactive-links{
            transform: translateX(0);
        }
    }
}